@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400");

body {
  margin: 0;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #e66465, #9198e5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
